[package]
name = "version"
version = "1.12.2"
authors = ["Eirik Albrigtsen <sszynrae@gmail.com>"]
edition = "2021"
license = "Apache-2.0"
publish = false

[[bin]]
doc = false
name = "version"
path = "version.rs"

[dependencies]
axum = "0.5.6"
axum-extra = { version = "0.3.1", features = ["typed-routing"] }
futures = "0.3.21"
tokio = { version = "1.18.2", features = ["macros", "rt-multi-thread", "signal"] }
k8s-openapi = { version = "0.16.0", features = ["v1_23"] }
serde = { version = "1.0.137", features = ["derive"] }
anyhow = "1.0.57"
tower-http = { version = "0.3.3", default-features = false, features = ["trace"] }
tracing = "0.1.34"
tracing-subscriber = "0.3.11"

[dependencies.kube]
version = "0.76.0"
features = ["runtime", "client"]

# local testing: ignore
#git = "https://github.com/kube-rs/kube-rs.git"
#rev = "7715cabd4d1976493e6b8949471f283df927a79e"
#path = "../kube-rs/kube"
