# When pushed to main, run `cargo +nightly fmt --all` and open a PR.
name: rustfmt
on:
  push:
    # Limit to `main` because this action creates a PR
    branches:
      - main
jobs:
  rustfmt_nightly:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly
          components: rustfmt
      - run: cargo +nightly fmt

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: rustfmt
          signoff: true
          title: rustfmt
          body: Changes from `cargo +nightly fmt`.
          branch: rustfmt
          # Delete branch when merged
          delete-branch: true
